@import './constants';

@mixin main {
  .headerBlock {
    margin-bottom: 64px;
  }

  .title {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 20px;
    text-align: start;
  }

  .subtitle {
    font-weight: 300;
    font-size: 17px;
    text-align: start;
    opacity: 0.5;
  }

  .icon {
    width: 60px;
    height: 60px;
    padding-bottom: 40px;
  }

  .form {
    width: 100%;
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 708px;
  }

  .formLine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;

    &_121 {
      gap: 30px;
      grid-template-columns: 1fr 2fr 1fr;
    }

    &_211 {
      gap: 30px;
      grid-template-columns: 2fr 1fr 1fr;
    }

    &_31 {
      gap: 30px;
      grid-template-columns: 3fr 1fr;
    }

    &_112 {
      gap: 30px;
      grid-template-columns: 1fr 1fr 2fr;
    }

    &_112 {
      gap: 30px;
      grid-template-columns: 1fr 1fr 2fr;
    }

    &_inputBlock {
      margin-top: 0;
    }
  }

  .formMonoLine {
    display: block;
    margin-top: 40px;
  }

  .inputBlock {

    &_split {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }

  .inputTitle {
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 12px;
    white-space: nowrap;
  }

  .formContent {
    height: 100%;

    &_hidden {
      display: none;
    }
  }

  .input {
    width: 100%;
    height: 52px;
    border: 1px solid $grey;
    border-radius: 7px;
    background-color: #fff;
    font-size: 15px;
    padding: 17px 20px;
    box-sizing: border-box;

    &:disabled {
      pointer-events: none;
      background-color: $backgroundGrey;
    }

    &_empty {
      color: $grey;
    }

    &:focus {
      border-color: $subBlue;
    }

    &_error {
      border-color: red;
    }
  }

  .textError {
    color: red;
    font-size: 14px;
    margin-top: 6px;
    opacity: 0.6;
  }

  .formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }

  .button {
    border: 0;
    background-color: $mainBlue;
    color: #fff;
    padding: 18px 42px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 0.75;
    }
  }

  .linkButton {
    font-weight: 500;
    font-size: 15px;
    color: $grey;
    background-color: $noColor;
    border: 0;
    padding: 0;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      color: $subBlue;
    }

    &:active {
      color: $mainBlue;
    }
  }

  
  .registrationAddress {
    padding-top: 26px;
    display: flex;
    align-items: center;
    height: 52px;
  }

  .input_small {
    input {
      padding: 17px 12px;
    }
  }
}