@import "/src/styles/mixins";

  .select {
    position: relative;
  }

  .modalSelect {
    position: absolute;
    top: calc(100% + 8px);
    z-index: 1;
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 12px 20px;
    overflow: hidden;
    background-color: #FFF;
    border: 1px solid #C1C9CD;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .12);
    
    &_off {
      display: none;
    }
  }

  .option {
    padding: 6px 0;
    cursor: pointer;
    border-bottom: 1px solid #E0E4E6;
  
    &:hover {
      color: #0096D5;
    }
  
    &:last-child {
      border-bottom: 0;
    }
  }
